/****
* Navbar, Footer & Modal menu stylings and animations
*
* @author Javier Bastande 
**/



/*************** CLASSLIST ANIMATIONS*/
.showMenu {
    display: block;
    animation-name: showMenu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes showMenu {
    from {
        right: -600px;
        display: none;
        border-left: solid 1px black;
    }

    to {
        right: 0;
        display: block;
        border-left: solid 1px white;

    }
}

.closeMenu {
    display: none;
    animation-name: closeMenu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes closeMenu {
    from {
        right: 0;
        display: block;
    }

    to {
        right: -600px;

        display: none;
    }
}

.popInRectangle {
    animation-name: rectangleIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transition: ease-in-out;
}


@keyframes rectangleIn {
    from {
        position: fixed;
        height: inherit;
        z-index: 0;
    }

    to {
        position: fixed;
        top: 0;
        height: 100vh;
        z-index: 2;
    }
}

.popOutRectangle {
    min-height: 100vh;
    position: relative;
    z-index: 0;
}

.contentFadeOut {
    animation-name: fadeOut;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;

}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.contentFadeIn {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#logo {
    position: relative;
    z-index: 5;
}

.fixedLogo {
    animation-name: fixedLogo;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transition: ease-in-out;
}

@keyframes fixedLogo {
    from {
        position: initial;
    }

    to {
        position: fixed;
        top: 0;
    }
}


/*********************  SHARED HEADER PROPERTIES*/
header {
    height: 680px;

}

header .navbar {
    max-width: 1300px;
    padding: 0px;
    background-color: transparent;
    margin: 0 auto;
}

#logo {
    position: relative;
    z-index: 4;
}


header nav .navbar-brand,
#logo-footer {
    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header nav a:hover,
#close-icon,
#burger,
#navbar-modal a {
    cursor: url("../images/pointer.png"), auto;
}

header nav .nav-link,
header nav .nav-link:hover {
    color: #ffffff;
}


header nav .nav-link::after {
    content: '';
    margin: auto;
    display: block;
    height: 3px;
    width: 0%;
    background-color: transparent;
    transition: all 0.5s ease;
}

header nav .nav-link:hover::after {
    height: 2px;
    width: 100%;
    background-color: #9E7F66;
}


header nav .navbar-toggler,
header nav .navbar-toggler:focus,
header nav .navbar-toggler:active,
header nav .navbar-toggler-icon:active {
    border: none;
    outline: none;
    box-shadow: none;
}

header nav .navbar-toggler-icon {
    color: inherit;
}


header #reservations-bg-image,
header #about-bg-img {
    position: absolute;
    width: 100%;
    height: inherit;
    max-height: 950px;
    background-image: url("../images/tables.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header .rectangle {
    background-color: #111111;
    position: absolute;
    height: inherit;
}

/************** SHARED FOOTER PROPERTIES*/
.footer-wraper {
    min-height: 460px;
    width: 100%;
    background-color: #111111;
}

.footer-wraper .row {

    margin: 0 auto;
}

.container-fluid,
.names-wraper>p {
    color: #ffffff;
}

.footer-wraper a {
    text-decoration: none;
}

.footer-copyright {
    text-align: center;
    padding-top: 40px;
}

.footer-copyright p {
    text-align: center;
    margin-bottom: 0;
    margin: 0;
    font-size: 0.7rem;
}

.authors-wraper {
    width: 100%;
}

.authors-container {
    max-width: 1300px;
    background-color: #9E7F66;
    margin: 0 auto;
    padding: 10px 0;
}

.authors-container>p,
.names-wraper>p {
    font-weight: bold;
    font-size: 16px;
}


/*************************** Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    header .navbar {
        max-width: 1300px;
    }

    header nav .navbar-brand {
        min-height: 175px;
        max-height: 180px;
        min-width: 150px;
        max-width: 150px;
    }

    nav .nav-item {
        padding: 0 10px;
    }

    nav .nav-link {
        font-size: 1.1rem;
        padding: 0 10px;
    }

    header nav .show ul:last-child {
        padding-bottom: 20px;
    }

    header .rectangle {
        min-width: 37%;
    }

    /**************** FOOTER SECTION ****/
    .footer-wraper {
        margin-top: 100px;
        min-height: 260px;
        min-width: 100%;
        background-color: #111111;

    }

    .footer-wraper .container-fluid {
        max-width: 1350px;
        padding: 40px 0px;
        justify-content: space-evenly;
        text-align: start;
    }

    #logo-footer {
        min-height: 175px;
        max-height: 180px;
        min-width: 100%;
        max-width: 100%;
    }

    .footer-wraper .address-wraper,
    .footer-wraper .availability-wraper {
        margin-top: 50px;
    }

    .footer-wraper .social-wraper {
        margin-top: 80px;
    }

    #footer #footer-facebook-icon,
    #footer #footer-x-icon {
        height: 22px;
        width: 22px;
        margin-left: 8px;
    }

    .footer-wraper #footer-insta-icon {
        height: 35px;
        width: 35px;
        margin-left: 8px;

    }

    .footer-wraper p {
        margin: 10px 6px;
        font-size: 0.9rem;
    }

    .footer-copyright {
        text-align: center;
        padding-top: 40px;
        font-size: 0.6rem;
    }

    .footer-copyright p {
        font-size: 0.6rem;
    }

    .authors-container .names-wraper {
        max-width: 1300px;

    }
}

/********************************************* TABLET SCREEN SIZE *****/


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 990px) and (min-width:590px) {


    /************** NAVBAR */
    header .navbar {
        background-color: transparent;
        margin: 0 auto;
        z-index: 2;
        padding: 0 20px;
    }

    header nav .navbar-brand {
        min-height: 115px;
        max-height: 110px;
        min-width: 150px;
        max-width: 150px;
    }

    header .rectangle {
        min-width: 30%;
    }

    header nav .show {
        width: 20px;
    }

    header nav #navbarSupportedContent {
        background-color: #111111;
    }

    nav .nav-link {
        font-size: 0.9rem;
        text-align: center;
        position: relative;
    }

    header nav .show ul:last-child {
        padding-bottom: 18px;
    }

    /********** MODAL MENU */
    #navbar-modal {
        position: fixed;
        top: 0;
        min-height: 100vh;
        width: 71%;
        background-color: #111111;
        color: #ffffff;
        z-index: 3;
        margin: 0 auto;
    }

    #navbar-modal .modal-container {
        justify-content: space-around;
        height: 100vh;
        text-align: center;
        margin: 0 auto;
    }

    #navbar-modal .modal-container .modal-menu-holder {
        height: 80%;
    }

    #navbar-modal .modal-container ul {
        height: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        justify-content: space-evenly;
    }

    #navbar-modal .modal-container ul li {
        margin: 0 auto;
    }

    #navbar-modal .modal-container .nav-link {
        font-size: 1.2rem;
    }

    #navbar-modal .modal-social-wraper a {
        margin: auto 7px;
        text-decoration: none;
    }

    #close-icon {
        margin-top: 15px;
        margin-right: 5px;
        font-size: 1.7rem;
    }

    #navbar-modal .modal-social-wraper #modal-facebook-icon {
        height: 27px;
        width: 27px;
    }

    #navbar-modal .modal-social-wraper #modal-insta-icon {
        height: 36px;
        width: 36px;
    }

    #navbar-modal .modal-social-wraper #modal-x-icon {
        height: 27px;
        width: 27px;
    }


    /************** FOOTER SECTION ***********/
    .footer-wraper {
        min-height: 460px;
        padding: 40px 0px 0px;
    }

    .footer-wraper .container-fluid {
        text-align: center;
    }

    #footer .container-fluid .col {
        margin: 0;
        padding: 0;
        text-align: center;

    }

    #footer .container-fluid .row {
        height: 200px;
        max-height: 250px;
        margin: 0;
        padding: 0;

    }

    #footer .container-fluid p {
        margin: 5px;
    }

    #footer #logo-footer {
        height: 150px;
        max-width: 80%;
        margin-left: 50px;
    }

    .footer-wraper .availability-wraper,
    .footer-wraper .address-wraper,
    .footer-wraper .social-wraper {
        margin-top: 35px;
    }

    .footer-wraper .availability-wraper,
    .footer-wraper .address-wraper {
        text-align: left;
        width: fit-content;
        padding-left: 25%;
    }

    .footer-wraper .social-wraper {
        margin-top: 50px;
    }

    #footer #footer-facebook-icon,
    #footer #footer-insta-icon,
    #footer #footer-x-icon {
        margin-left: 8px;
    }

    #footer #footer-facebook-icon {
        height: 30px;
        width: 30px;
    }

    #footer #footer-insta-icon {
        height: 39px;
        width: 39px;
    }

    #footer #footer-x-icon {
        height: 28px;
        width: 28px;
    }

    .footer-wraper p {
        margin: 6px;
        font-size: 0.7rem;
    }


    #footer .footer-copyright {
        padding: 100px 0 60px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 575px) and (min-width:330px) {


    /************** NAVBAR */

    header .navbar {
        padding-right: 10px;
    }

    header nav .navbar-brand {
        min-height: 105px;
        max-height: 110px;
        min-width: 140px;
        max-width: 140px;
    }

    header nav #navbarSupportedContent {
        background-color: #111111;
    }

    header #logo {
        position: relative;
        z-index: 4;
    }

    nav .nav-link {
        font-size: 0.9rem;
        text-align: center;
        position: relative;
    }

    header nav .show ul:last-child {
        padding-bottom: 20px;
    }

    header nav .navbar-toggler-icon {
        color: inherit;
    }

    header .rectangle {
        min-width: 33%;
    }

    /***** modal menu */
    #navbar-modal {
        position: fixed;
        top: 0;
        right: 300px;
        height: 100vh;
        width: 67%;
        background-color: #111111;
        color: #FFFFF0;
        z-index: 3;
        margin: 0 auto;
    }

    #navbar-modal .modal-container {
        text-align: center;
        margin: 0 auto;
        height: 100vh;
    }

    #navbar-modal .modal-container .modal-menu-holder {
        height: 80%;
    }

    #navbar-modal .modal-container .nav-link {
        font-size: 1.050rem;
    }

    #navbar-modal .modal-container ul {
        height: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 100%;
        justify-content: space-evenly;
    }

    #navbar-modal .modal-container ul li {
        margin: 0 auto;
    }

    #navbar-modal .modal-social-wraper a {
        margin: auto 7px;
        text-decoration: none;
    }

    #close-icon {
        margin-top: 5px;
        margin-right: -10px;
        font-size: 1.6rem;
    }

    #navbar-modal .modal-social-wraper #modal-facebook-icon {
        height: 24px;
        width: 24px;

    }

    #navbar-modal .modal-social-wraper #modal-insta-icon {
        height: 33px;
        width: 33px;
    }

    #navbar-modal .modal-social-wraper #modal-x-icon {

        height: 26px;
        width: 26px;
    }

    /************** FOOTER SECTION ***********/

    .footer-wraper {
        margin-top: 20px;
        min-height: 460px;
        width: 100%;
    }

    .footer-wraper .container-fluid {
        padding: 40px 0px 0px;
        text-align: center;
    }

    #footer .container-fluid .row {
        margin: 0;
        padding: 0;
    }

    #footer .container-fluid .row div {
        margin-top: 10px;
    }

    .footer-wraper .availability-wraper,
    .footer-wraper .address-wraper {
        text-align: left;
        width: fit-content;
        margin: 0 auto;
    }

    .footer-wraper .address-wraper {
        position: relative;
        right: 25px;
    }

    .footer-wraper .availability-wraper {
        position: relative;
        left: 20px;
    }



    #footer .footer-logo-wraper {
        padding-left: 20px;
    }

    #footer #logo-footer {
        margin: 0 auto;
        height: 150px;
        width: 80%;
        max-width: 400px;
    }

    .footer-wraper .social-wraper {
        margin-top: 30px;
    }

    .footer-wraper #footer-facebook-icon {
        height: 24px;
        width: 24px;
        margin-left: 8px;
    }

    .footer-wraper #footer-x-icon {
        height: 26px;
        width: 26px;
        margin-left: 8px;
    }

    .footer-wraper #footer-insta-icon {
        height: 35px;
        width: 35px;
        margin-left: 8px;

    }

    .footer-wraper .container-fluid .col {
        text-align: center;
    }

    .footer-wraper a {
        text-decoration: none;
    }

    #footer .footer-wraper .row p,
    #footer .footer-wraper .address-wraper p {
        margin: 6px;
        font-size: 0.9rem;
    }

    #footer .footer-copyright {
        width: 100%;
        background-color: #111111;
        text-align: center;
        padding: 40px 0;
        margin: 0;
    }

    .footer-copyright p {
        text-align: center;
        margin: 0;
        font-size: 0.6rem;
        padding: 0;
    }


    .authors-wraper {
        width: 100%;
        background-color: #9E7F66;

    }

    .authors-container {
        max-width: 1300px;
        background-color: #9E7F66;
        margin: 0 auto;
        padding: 10px 0
    }

    .authors-container>p,
    .names-wraper>p {
        font-weight: bold;
        font-size: 16px;
    }

}