/****
* Reservations page styling 
* @author Javier Bastande 
**/

/* BEAVER: HEX: #9E7F66;
COD-GREY: #111111;
MIRAGE: |#17192B;
ELBONY-CLAY: #242B37;
SHUTLE-GRAY: #5C6779; */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Lora:wght@500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&family=Sanchez:ital@0;1&display=swap');


html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.2px;
    /* font-size: 4rem; */
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "League Spartan";
}

p,
a {
    font-family: "League Spartan";

}

/********* CLASSS LIST*/
.inputError {
    width: 100%;
    height: 2px;
    background-color: #b40505;
}

.redText {
    color: #b40505;
    opacity: 0.6;

}

.redPlaceholder::-webkit-input-placeholder {
    color: #b40505;
    opacity: 0.6;
    font-size: 1.125rem;
}

.wrongEmail::-webkit-input-placeholder {
    color: #b40505;
    opacity: 0.6;
    font-size: 1.063rem;
}

.success {
    width: 100%;
    height: 2px;
    background-color: #9E7F66;
}


/**** double quotes */
#reservations-review .left-quote-wraper {
    text-align: start;
}

#reservations-review .right-quote-wraper {
    text-align: right;
}

#left-quote,
#right-quote {
    width: 2.5rem;
    height: 2.5rem;
}

#right-quote {
    transform: rotate(180deg);
}


/*********** RESERVATIONS PAGE SHARED PROPERTIES*/
#reservations-main-wraper h4,
#about-main-wraper h4 {
    font-size: 4rem;
}

/** font family*/
#reservations-main-wraper input,
#reservations input[type="date"],
#reservations form .form-input-wraper p,
#reservations-main-wraper p,
#reservations-review p #reservations-main-wraper input:active,
#reservations-main-wraper #contact input:active,
#reservations-main-wraper input:focus,
#contact .contact-form-wraper textarea::placeholder,
#contact .contact-form-wraper textarea::placeholder,
#reservations form .form-input-wraper p,
#reservations-main-wraper input,
#reservations input[type="date"],
#contact .contact-form-wraper textarea::placeholder,
#about-main-wraper {
    font-family: "League Spartan";
    letter-spacing: 0.5px;
}

#reservations-main-wraper p,
#reservations-review p,
#about-main-wraper p {
    font-size: 1.25rem;
    line-height: 30px;
}

#reservations-review p {
    font-family: 'Sanchez', sans-serif;
}

/**** colors ***/
.reservations-wraper .reservation-text-wraper,
#reservations-main-wraper button[type="submit"],
.contact-wraper .contact-text-wraper,
.contact-wraper .office-hours-wraper,
header .navbar,
header nav .nav-link,
.footer-wraper p,
.footer-wraper a,
.footer-copyright p,
.footer-wraper .names-wraper p,
#about-main-wraper {
    color: #ffffff;
}


.authors-container>p,
.names-wraper>p,
.reservations-wraper .reservation-form-wraper,
#reservations-main-wraper .form-input-wraper,
#reservations form .form-check,
#reservations form .form-input-wraper .dropdown a,
.contact-wraper .contact-form-wraper,
#contact .contact-form-wraper textarea,
#contact .contact-form-wraper textarea::placeholder,
#about-main-wraper {
    color: #111111;
}

.reservations-wraper .reservation-form-wraper,
.contact-wraper .contact-form-wraper,
#reservations-main-wraper button[type="submit"]:hover,
#reservations form .form-input-wraper .dropdown a {
    background-color: #ffffff;
}

#contact .contact-wraper,
.footer-wraper {
    background-color: #111111;
}

/*** buttons and links */
#reservations-main-wraper button[type="submit"] {
    font-size: 1.25rem;
    ;
    font-weight: 500;
    letter-spacing: 1.5px;
    background-color: #111111;
    text-transform: uppercase;
    transition: 0.5s;
}

#reservations-main-wraper button[type="submit"]:hover {
    border: solid 1px #111111;
    transition: 0.5s;
    color: #111111;
    cursor: url("../images/pointer.png"), auto;
}

#reservations-main-wraper button[type="submit"]:focus {
    outline: none;
    box-shadow: none;
}

/*** containers shadow*/
/* https://cssgenerator.org/box-shadow-css-generator.html */
.reservations-wraper .reservation-form-wraper {
    box-shadow: 16px 18px 46px -13px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 16px 18px 46px -13px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 16px 18px 46px -13px rgba(0, 0, 0, 0.21);
}

#reservations input[type="date"]::-webkit-calendar-picker-indicator:hover,
#timePicker:hover,
input[type="checkbox"]:hover,
#reservations form .form-input-wraper .time-slot-wraper p:hover,
#footer #footer-facebook-icon:hover,
#footer #footer-insta-icon:hover,
#footer #footer-x-icon:hover,
#footer #modal-facebook-icon:hover,
#footer #modal-insta-icon:hover,
#footer #modal-x-icon:hover,
#logo-footer:hover,
header nav .navbar-brand:hover {
    cursor: url("../images/pointer.png"), auto;
}

/******* shared form inputs ***/
input[type="checkbox"]:focus,
select,
input[type="date"]:focus,
#reservations-main-wraper .form-input-wraper>input:focus,
#contact-number-wraper input:focus,
input[type="checkbox"],
input[type="checkbox"]:checked {
    outline: none;
    box-shadow: none;
    border: none;
    color: #111111;
    opacity: 0.8;
}

#reservations-main-wraper .form-input-wraper {
    margin: 20px auto;
    padding-right: 0;
}

#reservations-main-wraper form .form-input-wraper .col {
    padding-left: 0;
}

#contact .form-input-wraper {
    margin: 23px auto;

}

#reservations-review .double-gold-line-holder {
    width: 100%;
    height: 2px;
    background-image: url("../images/double-gold-line.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#reservations-review .rh-decorator-holder {
    width: 50%;
    height: 50px;
    background-image: url("../images/rh.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*************************** Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    /*********** RESERVATIONS SECTION */
    .reservations-wraper {
        width: 100%;
        position: absolute;
        top: 300px;
        z-index: 1;
    }

    .reservations-wraper .reservations-container {
        width: 1300px;
        max-width: 100%;
        margin: 0 auto;
        padding-left: 5%;
        padding-right: 5%;

    }


    .reservations-wraper .reservation-text-wraper {
        min-height: 400px;
        max-width: none;
        padding: 40px 50px;
        background-color: transparent;
    }

    .reservations-wraper .reservation-form-wraper,
    .contact-wraper .contact-form-wraper {
        padding: 50px 50px;
    }


    #reservations-main-wraper .reservation-form-wraper .reservation-form-container>#reservation-form .row {
        margin: 0 auto;
    }

    #reservations-main-wraper .reservation-form-wraper .reservation-form-container>#reservation-form .row .form-input-wraper .row {
        width: 100%;
    }

    /*** BOOKING FORM*/
    #reservations form .form-input-wraper p {
        font-size: 1.25rem;
        ;
        padding-top: 10px;
    }

    #reservations-main-wraper input,
    #reservations input[type="date"] {
        background-color: inherit;
        width: 100%;
        font-size: 1.25rem;
        letter-spacing: 1.5px;
        padding-left: 10px;
        border: none;
        text-align: start;
    }

    #reservations input[type="date"] {
        text-align: center;
        margin-left: 15px;
    }

    #datePicker-input {
        padding-right: 0;
    }

    #reservations-main-wraper input:focus {
        font-size: 1.25rem;
        letter-spacing: 0.5px;
        opacity: 0.7;
        border: none;
    }

    #reservations-main-wraper input:active,
    #reservations-main-wraper #contact input:active {
        letter-spacing: 0.5px;
        font-size: 1.25rem;
        border: none;
        box-shadow: none;
    }

    #reservations-main-wraper .inputBaseLine {
        width: 100%;
        min-height: 2px;
        background-color: #9E7F66;
    }

    #contact-number-wraper {
        padding: 0;
    }


    #reservations .booking-form-wraper .contact-number-wraper {
        display: flex;
        flex-direction: row;
    }

    #reservations form .form-check-wraper {
        width: 100%;
        justify-content: center;
    }

    #reservations form .form-check {
        margin-top: 30px;
        font-size: 16px;
        opacity: 0.9;
    }

    #reservations input[type="checkbox"] {
        height: 20px;
        width: 20px;
        margin: 0 10px 0 10px;
        border: solid 1px #9E7F66;
    }

    #reservations input[type="checkbox"]:checked {
        background-color: #9E7F66;
    }

    #reservations-main-wraper button[type="submit"] {
        margin: 30px auto;
        height: 65px;
        font-size: 1.25rem;
        font-weight: 500;
        letter-spacing: 1.5px;
        width: 93%;
        background-color: #111111;
        text-transform: uppercase;
        transition: 0.5s;
    }



    /*  Remove default arrows on input type=number */
    /*  Code taken from next link */
    /* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
        -moz-appearance: textfield;
    }


    /**** DAY PICKER */

    /* Took this code "::-webkit-datetime-edit" from the below link to override default date input placeholder color */
    /* https://stackoverflow.com/questions/31706433/how-can-i-change-the-text-color-of-chromes-input-date-placeholder */
    #reservations input[type="date"]::-webkit-datetime-edit {
        color: #111111;
        opacity: 0.7;
        font-size: 1.063rem;
        ;
        cursor: url("../images/pointer.png"), auto;
    }



    /* Took this code "::-webkit-calendar-picker-indicator {filter: invert(0.5);}"
 from the below link to override default date indicator color */
    /* https://stackoverflow.com/questions/31706433/how-can-i-change-the-text-color-of-chromes-input-date-placeholder */
    #reservations input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(0.5);
        font-size: 1.125rem;
    }


    /**** TIME PICKER */

    #reservations form .form-input-wraper .dropdown {
        text-align: center;
        margin-left: 11px;
    }

    #reservations form .form-input-wraper .dropdown a {
        font-size: 1.125rem;
        opacity: 0.7;
        border: none;
        padding: 0;
    }

    #reservations form .form-input-wraper .time-slot-wraper {
        display: flex;
        flex-direction: row;
        margin-right: 35px;
        padding: 10px 0;
    }

    #reservations form .form-input-wraper .time-slot-wraper p {
        margin: 0;
        padding: 5px;
        font-size: 1.25rem;
        ;
    }

    #reservations form .form-input-wraper .time-slot-wraper p:hover {
        background-color: rgb(244, 230, 203);
        border-radius: 5px;
    }

    #reservations .form .form-input-wraper .dropdown-menu {
        padding-left: 10px;
        padding-right: 10px;
    }

    #reservations .form .form-input-wraper .dropdown-menu>.row {
        margin: 0 auto;
        padding: 10px 0;

    }

    #reservations #contact-number-wraper .form-input-wraper {
        margin: 5px auto;
    }

    #reservations #contact-number-wraper select {
        max-width: 120%;
        border: none;
        font-size: 1.125rem;
        margin: 4px auto;
    }

    #reservations #contact-number-wraper #prefix-wraper {
        text-align: center;

    }

    /***** remove arrow on dropdown element ****/
    /**
* Took the code lines from the below link
/* https://stackoverflow.com/questions/16603979/how-to-remove-the-default-arrow-icon-from-a-dropdown-list-select-element 
*/
    form .form-input-wraper select {
        -webkit-appearance: none;
        -moz-appearance: none;
    }


    /***** Override autofill default style behavoir ****/
    /**
* Took the code lines from the below link
/* https://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css 
*/
    form .form-input-wraper input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px #333333 inset;
        /* Change the color to your own background color */
        -webkit-text-fill-color: #FFFFF0;
        -webkit-text-fill-font-size: 0.813rem;
    }

    form .form-input-wraper input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 50px #ffffff inset;
        /*your box-shadow*/
        -webkit-text-fill-color: #111111;
        -webkit-text-fill-font-size: 1.125rem;
    }

    /******* RESERVATION SECTIONS SEPARATOR  */
    #reservations-section-separator {
        width: 100%;
        padding-bottom: 150px;
    }

    #reservations-section-separator .separator-container {
        height: 400px;
        min-width: 70%;
        max-width: 900px;
        display: flex;
    }

    #reservations-section-separator .separator-container img:first-child {
        width: 100%;
    }

    #reservations-section-separator .separator-container img:last-child {
        padding-bottom: 280px;
        height: auto;
        width: 8000px;
        width: 100%;
        position: relative;
        top: 340px;
        right: 480px;
    }

    /******* CONTACT SECTION*/
    .contact-wraper {
        position: relative;
        min-height: fit-content;
        width: 100%;
        margin: 0 auto;
    }

    .contact-wraper .contact-container {
        min-height: fit-content;
        max-height: 100%;
        width: 1300px;
        max-width: 100%;
        margin: 0 auto;
        padding: 7% 5%;
    }

    .contact-wraper .contact-container p {
        margin: 3px auto;
    }

    .contact-wraper .contact-text-wraper {
        min-height: 400px;
        max-height: 400px;
        max-width: none;
        padding: 100px 0px 0px 30px;
        background-color: transparent;
    }

    .contact-wraper .contact-form-wraper {
        padding: 40px 50px;
        box-shadow: 16px 18px 46px -13px rgba(0, 0, 0, 0.21);
        -webkit-box-shadow: 16px 18px 46px -13px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: 16px 18px 46px -13px rgba(0, 0, 0, 0.21);

    }

    .contact-wraper .office-hours-wraper {
        margin-top: 25px;
    }

    #contact .contact-wraper .office-hours-wraper p {
        font-size: 1rem;
    }

    /************** CONTACT FORM */
    #contact .contact-form-wraper textarea {
        margin: 50px 5px 0 5px;
        font-size: 1.25rem;
        ;
        text-align: left;
        padding: 15px;
        width: 99%;
    }

    #contact .contact-form-wraper textarea::placeholder {
        font-size: 1.125rem;
        text-align: left;
    }

    #contact .contact-form-wraper textarea:active {
        text-align: left;
    }

    /************* REVIEW SECTION**/
    #reservations-review {
        width: 100%;
        min-height: 450px;
        background-color: #ffffff;
    }

    #reservations-review #review-wraper {
        width: 100%;

    }

    #reservations-review .review-container {
        max-width: 1300px;
        margin: 0 auto;
    }

    #reservations-review .double-line-decorator-wraper {
        margin: 250px auto 0px;
        width: 80%;
        max-width: 620px;
    }

    #reservations-review .rh-decorator-wraper {
        margin: 0 auto 250px;
        width: 80%;
        max-width: 420px;
    }

    #reservations-review .rh-decorator-holder {
        width: 100%;
        height: 40px;
    }

    #reservations-review .review-container .text-wraper {
        margin: 150px auto;
        padding: 30px;
        width: 950px;
    }

    #reservations-review p {
        font-size: 1.575rem;
        letter-spacing: 0.5px;
        line-height: 50px;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 0;
    }


}

/********************************************* TABLET SCREEN SIZE *****/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 990px) and (min-width:590px) {


    /******** RESERVATION SECTION */
    .reservations-wraper {
        width: 100%;
        position: absolute;
        top: 200px;
        left: 0;
        z-index: 1;
    }

    #reservations-main-wraper h4 {
        font-size: 2.188rem;
    }


    .reservations-wraper .reservations-container {
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
    }


    .reservations-wraper .reservation-text-wraper {
        height: 300px;
        padding: 20px 30px;
        background-color: transparent;
    }

    .reservations-wraper .reservation-form-wraper {
        margin: 0 auto;
        min-height: fit-content;
        padding: 40px 50px;
        box-shadow: 16px 18px 46px -13px rgba(0, 0, 0, 0.21);
        -webkit-box-shadow: 16px 18px 46px -13px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: 16px 18px 46px -13px rgba(0, 0, 0, 0.21);
    }

    /******* BOOKING FORM*/
    #reservations form .form-input-wraper p {
        font-size: 1.1rem;
        padding-top: 10px;
    }

    #reservations-main-wraper input,
    #reservations input[type="date"] {
        background-color: inherit;
        width: 100%;
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        padding-left: 10px;
        border: none;
        text-align: start;
    }

    #reservations input[type="date"] {
        text-align: center;
        margin-left: 10px;
        padding-right: 0;
    }

    #datePicker-input,
    #timePicker-input {
        padding-right: 0;
    }

    #reservations-main-wraper .inputBaseLine {
        width: 100%;
        min-height: 2px;
        background-color: #9E7F66;
    }

    #reservations-main-wraper input::placeholder {
        font-size: 1.1rem;
        ;
    }

    #reservations .booking-form-wraper .contact-number-wraper {
        display: flex;
        flex-direction: row;
    }

    #reservations form .form-check-wraper {
        width: 100%;
        justify-content: center;
    }

    #reservations form .form-check {
        margin-top: 30px;
        font-size: 1rem;
        opacity: 0.9;
        padding-left: 0;
    }

    #reservations input[type="checkbox"] {
        height: 20px;
        width: 20px;
        margin: 0 10px 0 10px;
        border: solid 1px #9E7F66;
    }

    #reservations input[type="checkbox"]:checked {
        background-color: #9E7F66;
    }

    #reservations-main-wraper button[type="submit"] {
        margin: 30px auto;
        height: 65px;
        font-size: 1.25rem;
        ;
        font-weight: 500;
        letter-spacing: 1.5px;
        width: 93%;
        background-color: #111111;
        text-transform: uppercase;
        transition: 0.5s;
    }

    /*  Remove default arrows on input type=number */
    /*  Code taken from next link */
    /* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    /**** DAY PICKER */

    /* Took this code "::-webkit-datetime-edit" from the below link to override default date input placeholder color */
    /* https://stackoverflow.com/questions/31706433/how-can-i-change-the-text-color-of-chromes-input-date-placeholder */
    #reservations input[type="date"]::-webkit-datetime-edit {
        color: #111111;
        opacity: 0.7;
        font-size: 1.063rem;
        ;
    }

    /* Took this code "::-webkit-calendar-picker-indicator {filter: invert(0.5);}"
 from the below link to override default date indicator color */
    /* https://stackoverflow.com/questions/31706433/how-can-i-change-the-text-color-of-chromes-input-date-placeholder */
    #reservations input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(0.5);
        font-size: 1.25rem;
        ;
    }

    /**** TIME PICKER */

    #reservations #reservation-form .form-input-wraper .dropdown {
        text-align: center;
        margin-left: 11px;
    }

    #reservations #reservation-form .form-input-wraper .dropdown a {
        font-size: 1.125rem;
        opacity: 0.7;
        border: none;
        padding: 0;
    }

    #reservations #reservation-form .form-input-wraper .time-slot-wraper {
        display: flex;
        flex-direction: row;
        padding: 0 25px;
        margin-right: 35px;
    }

    #reservations #reservation-form .form-input-wraper .time-slot-wraper p {
        margin: 0;
        padding: 5px;
        font-size: 1.25rem;
        ;
    }

    #reservations #reservation-form .form-input-wraper .time-slot-wraper p:hover {
        background-color: rgb(244, 230, 203);
        cursor: pointer;
        border-radius: 5px;
    }

    #reservations #reservation-form .form-input-wraper .dropdown-menu {
        min-width: 140px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #reservations #reservation-form .form-input-wraper .dropdown-menu>.row {
        margin: 0 auto;
    }

    #reservations #reservation-form #prefix-wraper {
        text-align: center;
    }

    #reservations #contact-number-wraper select {
        max-width: 100%;
        border: none;
        font-size: 1.080rem;
        ;
        margin: 4px auto 0;
    }

    /***** remove arrow on dropdown element ****/
    /**
* Took the code lines from the below link
/* https://stackoverflow.com/questions/16603979/how-to-remove-the-default-arrow-icon-from-a-dropdown-list-select-element 
*/
    form .form-input-wraper select {
        -webkit-appearance: none;
        -moz-appearance: none;
    }


    /***** Override autofill default style behavoir ****/
    /**
* Took the code lines from the below link
/* https://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css 
*/
    form .form-input-wraper input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px #333333 inset;
        /* Change the color to your own background color */
        -webkit-text-fill-color: #FFFFF0;
        -webkit-text-fill-font-size: 0.813rem;
    }

    form .form-input-wraper input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 50px #ffffff inset;
        /*your box-shadow*/
        -webkit-text-fill-color: #111111;
        -webkit-text-fill-font-size: 1.125rem;
    }

    /******* RESERVATION SECTIONS SEPARATOR  */
    #reservations-section-separator {
        width: 100%;
        padding-bottom: 200px;
    }

    #reservations-section-separator .separator-container {
        width: 100%;
        display: flex;
    }

    #reservations-section-separator .separator-container {
        height: 540px;
    }

    #reservations-section-separator .separator-container img:first-child {
        width: 90%;
    }

    #reservations-section-separator .separator-container img:last-child {
        width: 100%;
        position: relative;
        top: 480px;
        right: 700px;
        padding-bottom: 400px;
    }

    /******* CONTACT SECTION*/
    .contact-wraper {
        min-height: fit-content;
        width: 100%;
    }

    .contact-wraper .contact-container {
        margin: 0 auto;
        width: 80%;
        max-width: 600px;
        padding: 30px 0 50px;
    }

    .contact-wraper .contact-text-wraper {
        height: 480px;
        padding: 90px 30px;
        background-color: transparent;
    }


    .contact-wraper .contact-form-wraper {
        margin: 50px auto;
        padding: 40px 50px;
    }

    .contact-wraper .office-hours-wraper {
        margin-top: 25px;
    }

    /* CONTACT FORM */
    #contact .contact-form-wraper textarea {
        margin: 50px 5px 0 5px;
        width: inherit;
        font-size: 1.25rem;
        text-align: left;
        padding: 15px;
    }

    #contact .contact-form-wraper textarea::placeholder {
        font-size: 1.125rem;
        text-align: left;
    }


    #contact .contact-form-wraper textarea:active {
        text-align: left;
    }

    /************* REVIEW SECTION**/
    #reservations-review {
        min-height: 400px;
    }

    #reservations-review .review-wraper {
        min-width: 100%;

    }

    #reservations-review .review-container {
        width: 90%;
        margin: 120px auto;
        max-width: 650px;
        padding: 40px;
    }

    #reservations-review .double-line-decorator-wraper {
        margin: 50px auto 180px;
        width: 80%;
        max-width: 480px;
    }

    #reservations-review .rh-decorator-wraper {
        margin: 200px auto 50px;
        width: 80%;
        max-width: 520px;
    }

    #reservations-review .rh-decorator-holder {
        width: 100%;
        height: 30px;
    }

    #reservations-review p {
        padding: 30px 50px;
        font-size: 1.25rem;
        letter-spacing: 0.5px;
        line-height: 40px;
    }
}

/********************************************* MOBILE SCREEN SIZE *****/


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 575px) and (min-width:330px) {


    #reservations-main-wraper h4 {
        min-width: fit-content;
        font-size: 2.1rem;
        margin-bottom: 20px;
    }

    /***************** RESERVATIONS SECTION */

    .reservations-wraper {
        width: 100%;
        position: absolute;
        top: 200px;
        left: 0;
        z-index: 1;
    }

    .reservations-wraper .reservations-container {
        width: 90%;
        max-width: 420px;
        margin: 0 auto;
    }

    .reservations-wraper .reservation-text-wraper {
        margin: 0 auto;
        height: 300px;
        padding: 10px 20px;
    }

    .reservations-wraper .reservation-form-wraper {
        min-height: fit-content;
        padding: 40px 20px;
    }

    /*** BOOKING FORM*/
    #reservations-main-wraper #reservation-form {
        padding-right: 0;
        margin-left: 8px;
    }


    #reservations-main-wraper #reservation-form #datePicker-input,
    #reservations-main-wraper #reservation-form #timePicker-input {
        padding-right: 6px;
        padding-left: 6px;
    }

    #reservations #reservation-form .form-input-wraper #prefix-wraper,
    #reservations #reservation-form .dropdown,
    #reservations #reservation-form #startDate {
        text-align: center;
    }


    #reservations #reservation-form #party-size-wraper,
    #reservations #reservation-form #fullName-wraper,
    #reservations #reservation-form #reservation-email-wraper,
    #reservations #reservation-form #phone-wraper {
        padding-right: 6px;
    }

    #partySize,
    #fullName,
    #email {
        padding-right: 15px;
    }


    #reservations form #contact-number-wraper {
        padding-right: 0px;
        margin-right: 0px;
    }

    #reservations #reservation-form #contact-number-wraper div:last-child {
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;
    }

    #reservations #reservation-form #contact-number-wraper .inputBaseLine:first-child {
        width: 140%;
    }

    #reservations #reservation-form #contact-number-wraper .prefix-select-wraper {
        left: 0;
        font-size: 1rem;
        padding-top: 3px;
        margin: 0 auto 6px;
    }


    #reservations form #contact-number-wraper .prefix-select-wraper .inputBaseLine {
        margin-top: 10px;
    }

    #reservations #reservation-form .form-input-wraper p {
        font-size: 1.1rem;
        padding-top: 10px;
    }

    #reservations-main-wraper input,
    #reservations input[type="date"] {
        margin: 0 auto;
        background-color: inherit;
        width: inherit;
        font-size: 1.225rem;
        letter-spacing: 0.5px;
        padding-left: 10px;
        border: none;
        text-align: start;
    }

    #reservations-main-wraper #reservation-form input[type="date"] {
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
        min-height: 15px;
        max-height: 45px;
        width: 100%;
        font-size: 1rem;

    }

    #reservations-main-wraper .inputBaseLine {
        width: 100%;
        min-height: 2px;
        background-color: #9E7F66;
    }

    #reservations-main-wraper input::placeholder {
        font-size: 1rem;
    }

    #reservations .booking-form-wraper .contact-number-wraper {
        display: flex;
        flex-direction: row;
    }

    #reservations #contact-number-wraper select {
        max-width: 100%;
        border: none;
        font-size: 1.25rem;
        ;
        margin: 15px auto 0;
        position: relative;
        left: 1.125rem;
        padding-top: 7px;
    }

    #reservations form .form-check-wraper {
        width: 100%;
        justify-content: center;
    }

    #reservations form .form-check {
        margin-top: 30px;
        margin-left: 5px;
        padding-left: 0;
        font-size: 0.875rem;
        opacity: 0.9;
    }

    #reservations form .form-check.row .col {
        padding-right: 0px;
    }

    #reservations input[type="checkbox"] {
        height: 1.125rem;
        width: 1.125rem;
        margin: 0 10px 0 10px;
        border: solid 1px #9E7F66;
        position: relative;
        top: 3px;
    }

    #reservations input[type="checkbox"]:checked {
        background-color: #9E7F66;
    }

    #reservations-main-wraper button[type="submit"] {
        margin: 30px auto;
        height: 65px;
        font-size: 1.25rem;
        width: 93%;
    }

    /*  Remove default arrows on input type=number */
    /*  Code taken from next link */
    /* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }


    /**** DAY PICKER */

    /* Took this code "::-webkit-datetime-edit" from the below link to override default date input placeholder color */
    /* https://stackoverflow.com/questions/31706433/how-can-i-change-the-text-color-of-chromes-input-date-placeholder */
    #reservations input[type="date"]::-webkit-datetime-edit {
        color: #111111;
        opacity: 0.7;
        font-size: 1.063rem;
        ;
    }

    /* Took this code "::-webkit-calendar-picker-indicator {filter: invert(0.5);}"
 from the below link to override default date indicator color */
    /* https://stackoverflow.com/questions/31706433/how-can-i-change-the-text-color-of-chromes-input-date-placeholder */
    #reservations input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(0.5);
        font-size: 1.25rem;
        ;

    }

    /**** TIME PICKER */

    #reservations form .form-input-wraper .dropdown {
        text-align: start;
        margin-left: 11px;
    }

    #reservations form .form-input-wraper .dropdown a {
        font-size: 1.125rem;
        opacity: 0.7;
        border: none;
        padding: 0;
    }

    #reservations form .form-input-wraper .time-slot-wraper {
        display: flex;
        flex-direction: row;
        margin-right: 35px;
    }

    #reservations form .form-input-wraper .time-slot-wraper p {
        margin: 0;
        padding: 5px;
        font-size: 1.25rem;
    }

    #reservations form .form-input-wraper .time-slot-wraper p:hover {
        background-color: rgb(244, 230, 203);
        cursor: pointer;
        border-radius: 5px;
    }

    #reservations .form .form-input-wraper .dropdown-menu {
        padding-left: 10px;
        padding-right: 10px;
    }

    #reservations .form .form-input-wraper .dropdown-menu>.row {
        margin: 0 auto;
        padding: 10px 0;

    }

    #reservations #contact-number-wraper .form-input-wraper {
        margin: 5px auto;
    }

    #reservations #contact-number-wraper select {
        max-width: 120%;
        border: none;
        font-size: 1.25rem;
        margin: 0 auto;
        position: relative;
        left: 17px;
    }

    #reservations-main-wraper button[type="submit"] {
        margin: 30px auto 30px;
        height: 45px;
        font-size: 1.125rem;
        font-weight: 500;
        letter-spacing: 1.5px;
        width: 93%;
        background-color: #111111;
        text-transform: uppercase;
        transition: 0.5s;
    }

    /***** remove arrow on dropdown element ****/
    /**
* Took the code lines from the below link
/* https://stackoverflow.com/questions/16603979/how-to-remove-the-default-arrow-icon-from-a-dropdown-list-select-element 
*/
    form .form-input-wraper select {
        -webkit-appearance: none;
        -moz-appearance: none;
    }


    /***** Override autofill default style behavoir ****/
    /**
* Took the code lines from the below link
/* https://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css 
*/
    form .form-input-wraper input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px #333333 inset;
        /* Change the color to your own background color */
        -webkit-text-fill-color: #FFFFF0;
        -webkit-text-fill-font-size: 0.813rem;
    }

    form .form-input-wraper input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 50px #ffffff inset;
        /*your box-shadow*/
        -webkit-text-fill-color: #111111;
        -webkit-text-fill-font-size: 1.125rem;
    }


    /******* RESERVATION SECTIONS SEPARATOR  */
    #reservations-section-separator {
        width: 100%;
        padding-bottom: 150px;
    }

    #reservations-section-separator .separator-container {
        width: 100%;
        display: flex;
    }

    #reservations-section-separator .separator-container {
        height: 540px;
    }

    #reservations-section-separator .separator-container img:first-child {
        width: 90%;
    }

    #reservations-section-separator .separator-container img:last-child {
        width: 100%;
        position: relative;
        top: 460px;
        right: 100%;
        padding-bottom: 420px;
    }

    /******* CONTACT SECTION*/
    .contact-wraper {
        width: 100%;
        margin: 0 auto;
    }

    .contact-wraper .contact-container {
        margin: 0 auto;
        width: 90%;
        padding: 80px 0;
    }

    .contact-wraper .contact-text-wraper {
        height: 450px;
        padding: 20px 20px;
    }

    .contact-wraper .contact-form-wraper {
        margin: 50px auto;
        min-height: fit-content;
        width: 100%;
        padding: 40px 20px;
    }

    .contact-wraper .office-hours-wraper {
        margin-top: 25px;
        width: 100%;
        padding-right: 0px;
    }

    #reservations-main-wraper .office-hours-wraper p {
        font-size: 1.063rem;
        padding-right: 0px;
    }

    /* CONTACT FORM */
    #contact .contact-form-wraper .row {
        padding: 0px;
        margin: 0 auto;
    }

    #contact .contact-form-wraper textarea {
        margin: 50px 5px 20px 5px;
        font-size: 1.25rem;
        text-align: left;
        padding: 15px;
        width: 97%;
        letter-spacing: 0.5px;
    }

    #contact .contact-form-wraper textarea::placeholder {
        font-size: 1rem;
        text-align: left;
        letter-spacing: 0.5px;

    }

    #contact .contact-form-wraper textarea:focus {
        text-align: left;
        letter-spacing: 0.5px;
    }

    #contact .contact-form-wraper textarea:active {
        text-align: left;
    }


    /************* REVIEW SECTION**/
    #reservations-review .review-wraper {
        width: 100%;
    }

    #reservations-review .review-container {
        width: 95%;
        margin: 0 auto;
        padding: 120px 10px;
    }

    #reservations-review .double-line-decorator-wraper {
        margin: 40px auto 100px;
        width: 300px;
        max-width: 80%;
    }

    #reservations-review .rh-decorator-wraper {
        margin: 100px auto 50px;
        width: 420px;
        max-width: 80%;

    }

    #reservations-review .rh-decorator-holder {
        height: 20px;
        width: 100%;
    }

    #reservations-review p {
        margin: 5px auto;
        font-size: 1.375rem;
        letter-spacing: 0.5px;
        line-height: 35px;
        padding-left: 25px;
        padding-right: 20px;
    }

    #left-quote,
    #right-quote {
        width: 40px;
        height: 40px;
    }

    #left-quote {
        bottom: 10px;
    }

}