#signature-header {
    height: 200px;
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Lora:wght@500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&family=Sanchez:ital@0;1&display=swap');

/* CSS for Cocktail Sections */

#CocktailBackground {
    background: linear-gradient(to bottom, rgb(176, 128, 164), #5a7590);
}

/* Style for Cocktail Overview */
.cocktail-overview {
    padding-top: 50px;
}

.cocktail-overview h1,
.cocktail-section h1 {
    font-family: 'Spartan League', sans-serif;
}

/* Style for cocktail section */
.cocktail-section {
    padding: 50px 0;
}

.cocktail-overview p,
.cocktail-section P {
    font-family: 'Kalam', cursive;
}

/* Style for cocktail image*/
.cocktail-section img {
    max-width: 100%;
    max-height: 750px;
    width: auto;
    height: auto;
    display: block;
    object-fit: cover;
}

/* Style for cocktail images when clicked */
.clickedCocktail {
    transition: transform 0.2s ease-in-out;
}

.transformed-size {
    transform: scale(1.05);
}

/* Style for cocktail info */
.cocktail-info {
    padding: 20px;
}

.cocktail-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cocktail-info p {
    font-size: 16px;
    line-height: 1.6;
}

/* CSS for Minigame */
#minigame-section {
    padding: 50px;
}

#minigame {
    background-size: cover;
    text-align: center;
}

#board {
    max-width: 45%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(112, 47, 47);
    border: 10px solid rgb(163, 161, 161);
    justify-content: space-between;
    padding: 5px;
}

.card {
    margin: 5px;
    border: none;
}

#board .card {
    margin: 5px;
    border: none;
    background-color: #111111;
    zoom: 1.1;

}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}