/* background-color: #FFF5E1; */
/* background-color: #333333; */
/* background-color: #001F3F; */
/* background-color: #FFD700; */
/* background-color: #FFFFF0; */
/* background-color: #B76E79; */
/* background-color: #6A5ACD; */


/* background-color: #FFF5E1; */
/* background-color: #333333; */
/* background-color: #001F3F; */
/* background-color: #FFD700; */
/* background-color: #FFFFF0; */
/* background-color: #B76E79; */
/* background-color: #6A5ACD; */

/* BEAVER: HEX: #9E7F66;
COD-GREY: #111111;
MIRAGE: |#17192B;
ELBONY-CLAY: #242B37;
SHUTLE-GRAY: #5C6779; */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header .navbar {
    padding: 0px 40px;
    background-color: #333333;
    color: #FFFFF0;
}

header nav h1,
nav .nav-link {
    padding: 10px 12px;
    color: #FFFFF0;
}

nav .nav-link {
    font-size: 0.9rem;
    text-align: center;
}

header nav .show ul:last-child {
    padding-bottom: 20px;
}

header nav .navbar-toggler,
header nav .navbar-toggler:focus,
header nav .navbar-toggler:active,
header nav .navbar-toggler-icon:active {
    border: none;
    outline: none;
    box-shadow: none;
}

header nav .navbar-toggler-icon {
    color: inherit;
}

nav .nav-link:hover {
    color: #B76E79;
}



/************** FOOTER WRAPER ***********/
#footer {
    margin-top: auto;
}

.footer-wraper {
    margin-top: 100px;
    min-height: 260px;
    background-color: #333333;
}

.footer-wraper .container-fluid {
    min-width: 1000px;
    max-width: 1150px;
    padding: 40px 100px;
    justify-content: space-evenly;
    text-align: start;
}

#logo-footer {
    font-size: 1.7rem;
    text-align: center;
    margin: 35px auto auto;
}

.footer-wraper #icon-location {
    height: 15px;
}

.footer-wraper .social-wraper {
    margin-top: 30px;
    padding-left: 60px;
}

.footer-wraper #facebook-icon,
.footer-wraper #insta-icon,
.footer-wraper #x-icon {
    height: 22px;
    width: 22px;
    margin-left: 8px;
}

.footer-wraper #insta-icon {
    height: 35px;
    width: 35px;
}

.footer-wraper p {
    margin: 5px;
    font-size: 0.7rem;
    color: #FFFFF0;
}

.footer-wraper .container-fluid .col {
    text-align: center;
}

.footer-wraper a {
    color: #FFFFF0;
    text-decoration: none;
}

#sipem-email {
    text-decoration: underline;
}

.footer-copyright {
    text-align: center;
    padding-top: 40px;
}

.footer-copyright p {
    text-align: center;
    color: #FFFFF0;
    margin-bottom: 0;
    margin: 0;
    font-size: 0.7rem;
}


.authors-container {
    background-color: #B76E79;
    margin: 0 auto;
    padding: 10px 0;
}

.authors-container>p,
.names-wraper>p {
    font-weight: bold;
    font-size: 16px;
    color: #333333;
}

.names-wraper p {
    color: #FFF5E1;
}

/********* SHARED ELEMENT PROPERTIES */
input[type="checkbox"]:focus,
select,
input[type="date"]:focus,
form .form-input-wraper>input:focus,
#contact-number-wraper input:focus,
input[type="checkbox"],
input[type="checkbox"]:checked {
    outline: none;
    box-shadow: none;
    border: none;
}


/***** CLASS LISTS*/

.inputError {
    width: 100%;
    height: 2px;
    background-color: #FFD700;
}

.color {
    color: #FFD700;
}

.success {
    width: 100%;
    height: 2px;
    background-color: #B76E79;
}

#booking-emailFormatError {
    visibility: hidden;
    text-align: center;
    font-size: 9px;
    color: #FFD700;
}

/*************/
.booking-page-wraper {
    height: 100vh;
    background-color: #FFF5E1;
}


.booking-form-wraper {
    padding: 30px;
    margin-top: 100px;
    min-width: 500px;
    max-width: 600px;
    border-radius: 10px;
    /* background-color: #FFF5E1; */
    background-color: #333333;
    /* background-color: #001F3F; */
    /* background-color: #FFD700; */
    /* background-color: #FFFFF0; */
    /* background-color: #B76E79; */
    /* background-color: #6A5ACD; */
}

form .form-input-wraper {
    margin: 12px auto;
    min-height: 15px;
    max-height: 45px;
}

form .form-input-wraper>input,
input[type="date"] {
    background-color: #333333;
    color: #FFFFF0;
    border: none;
    width: 100%;
    font-size: 12px;
    letter-spacing: 0.5px;

    padding-left: 10px;
    border: none;
    text-align: center;
}

form .form-input-wraper>input:focus {
    letter-spacing: 0.5px;

}

form .form-input-wraper .inputBaseLine {
    width: 100%;
    height: 2px;
    background-color: #B76E79;
}


form .form-input-wraper>input:focus::placeholder {
    color: transparent;
}

form .form-check {
    font-size: 14px;
}

.booking-form-wraper input[type="submit"] {
    margin: 15px auto;
    height: 35px;
    border: none;
    font-size: 14px;
    width: 150px;
    background-color: #B76E79;
    color: #FFFFF0;
}

form .booking-form-wraper .contact-number-wraper {
    display: flex;
    direction: row;
}

form .form-check-wraper {
    width: 100%;
    justify-content: center;
}

form .form-check {
    margin-top: 20px;
    color: #FFFFF0;
    font-size: 11px;
    opacity: 0.9;
    position: relative;
    left: 150px;
}

input[type="checkbox"] {
    height: 14px;
    width: 14px;
    margin-right: 10px;
}

input[type="checkbox"]:checked {
    background-color: #B76E79;

}

/**** DAY PICKER */

/* Took this code "::-webkit-datetime-edit" from the below link to override default date input placeholder color */
/* https://stackoverflow.com/questions/31706433/how-can-i-change-the-text-color-of-chromes-input-date-placeholder */
input[type="date"]::-webkit-datetime-edit {
    color: #FFFFF0;
    opacity: 0.7;
}

input[type="date"]::-webkit-datetime-edit:before {
    color: #FFFFF0;
}

input[type="date"]:focus {
    background-color: #333333;
    color: #FFFFF0;
}

/* Took this code "::-webkit-calendar-picker-indicator {filter: invert(0.5);}"
 from the below link to override default date indicator color */
/* https://stackoverflow.com/questions/31706433/how-can-i-change-the-text-color-of-chromes-input-date-placeholder */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
    color: #B76E79;
    font-size: 16px;
}

/**** TIME PICKER */

form .form-input-wraper .dropdown {
    text-align: center;
}

form .form-input-wraper .dropdown a {
    background-color: #333333;
    font-size: 13px;
    color: #FFFFF0;
    opacity: 0.7;
    text-align: center;
    border: none;
    padding: 0;
}

form .form-input-wraper .time-slot-wraper {
    display: flex;
    flex-direction: row;
    padding: auto 25px;
}

form .form-input-wraper .dropdown-menu .time-slot-wraper {
    justify-content: center;
}

form .form-input-wraper .time-slot-wraper p {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 14px;
}

form .form-input-wraper .time-slot-wraper p:hover {
    background-color: rgb(244, 230, 203);
    cursor: pointer;
    border-radius: 5px;
}

.form .form-input-wraper .dropdown-menu {
    min-width: 140px;
    padding-left: 10px;
    padding-right: 10px;
}

#contact-number-wraper .form-input-wraper {
    margin: 5px auto;
}


#contact-number-wraper select {
    min-width: 32px;
    max-width: 32px;
    background-color: #333333;
    border: none;
    color: #FFFFF0;
    font-size: 13px;
    margin: 0 auto;
    position: relative;
    left: 7px;
}


/***** remove arrow on dropdown element ****/
/**
* Took the code lines from the below link
/* https://stackoverflow.com/questions/16603979/how-to-remove-the-default-arrow-icon-from-a-dropdown-list-select-element 
*/
form .form-input-wraper select {
    -webkit-appearance: none;
    -moz-appearance: none;
}


/***** Override autofill default style behavoir ****/
/**
* Took the code lines from the below link
/* https://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css 
*/
form .form-input-wraper input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #333333 inset;
    /* Change the color to your own background color */
    -webkit-text-fill-color: #FFFFF0;
    -webkit-text-fill-font-size: 13px;
}

form .form-input-wraper input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #333333 inset;
    /*your box-shadow*/
    -webkit-text-fill-color: #FFFFF0;
    -webkit-text-fill-font-size: 13px;
}